<!DOCTYPE html>
<html>
<head>
  <title>Rails 4 realtime chat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container">

    <div id='flash'>
      <%= render 'common/display_flash' if flash %>
    </div>

    <%= render 'layouts/header' %>

    <!-- Jumbotron -->
    <%= yield(:jumbotron) %>

    <div class="body-content">
      <%= yield %>


    </div><!-- /.body-content -->

    <!-- Site footer -->
    <div class="footer">
      <p>&copy; Company 2013</p>
    </div>

  </div> <!-- /container -->

</body>
</html>
