<!DOCTYPE html>
<html>
<head>
  <title>Rails 4 realtime chat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container">

    <div class="masthead">
      <h3 class="text-muted">Rails 4 sexy time</h3>
      <ul class="nav nav-justified">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- Jumbotron -->
    <%= yield(:jumbotron) %>

    <div class="body-content">
      <%= yield %>


    </div><!-- /.body-content -->

    <!-- Site footer -->
    <div class="footer">
      <p>&copy; Company 2013</p>
    </div>

  </div> <!-- /container -->

</body>
</html>
